  <form>
      <md-input-container class="input-container ">
        <input name="UserName" type="text" mdInput placeholder="Username" [(ngModel)]="UserName">
      </md-input-container>

      <md-input-container class="input-container">
        <input name="Password" mdInput placeholder="Password" [(ngModel)]="Password" type="password">
      </md-input-container>
    </form>
    <md-card-actions class="button-container" style="border-top:0px">
      <!--<button md-raised-button>New User</button>-->
      <button md-raised-button (click)="Login()">Login</button>
    </md-card-actions>
  <ra-alert></ra-alert>