.alert{
    position: fixed;
     width: 40%; 
     opacity: 0.9; 
       bottom: 20px;  
       right:25px;
     color:white;
     padding: 20px;
     font-size: 16px;

}
.alert-success{
    background-color: green;
}
.alert-danger{
    background-color: red
    ;
}